@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = "~/Views/Shared/_LayoutPages.cshtml";
}
<div class="section margin-top-65 margin-bottom-60">
	<div class="container">
		<div class="row">
			<div class="col-xl-12">
				<div class="utf-section-headline-item centered margin-top-0 margin-bottom-40">
					<span>Jobs Location</span>
					<h3>Companies By Location</h3>
					<div class="utf-headline-display-inner-item">Jobs Location</div>
					<p class="utf-slogan-text">Lorem Ipsum is simply dummy text printing and type setting industry Lorem Ipsum been industry standard dummy text ever since when unknown printer took a galley.</p>
				</div>
			</div>
			@foreach(var item in Model)
			{
				<div class="col-xl-4 col-md-6">
					<a asp-action="Index" asp-controller="Careers" class="photo-box" data-background-image="/client/images/popular-location-01.jpg">
						<div class="utf-opening-box-content-part">
							<h3>@item.Region</h3>
							
						</div>
					</a>
				</div>
			}
		
			<div class="utf-centered-button margin-top-10">
				<a asp-action="Index" asp-controller="Careers" class="button utf-ripple-effect-dark utf-button-sliding-icon margin-top-20">Browse All Location <i class="icon-feather-chevron-right"></i></a>
			</div>
		</div>
	</div>
</div>

