@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutPages.cshtml";
}
<div class="section gray padding-top-65 padding-bottom-55">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="utf-section-headline-item centered margin-top-0 margin-bottom-30">
                    <span>Clients Say About Us</span>
                    <h3>Our Customers Says</h3>
                    <div class="utf-headline-display-inner-item">Clients Say About Us</div>
                    <p class="utf-slogan-text">Lorem Ipsum is simply dummy text printing and type setting industry Lorem Ipsum been industry standard dummy text ever since when unknown printer took a galley.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Categories Carousel -->
    <div class="utf-carousel-container-block">
        <div class="utf-testimonial-carousel-block testimonials">
            <div class="utf-carousel-review-item">
                <div class="utf-testimonial-box">
                    <div class="utf-testimonial-avatar-photo"> <img src="~/client/images/user_small_2.jpg" alt=""> </div>
                    <div class="utf-testimonial-author-utf-detail-item">
                        <h4>John Doe</h4>
                        <span>Retail Corp</span>
                    </div>
                    <div class="testimonial">Star Securities has provided exceptional security services for our retail outlets. Their professional team ensures the safety of our premises at all times. Highly recommend their services!</div>
                </div>
            </div>
            <div class="utf-carousel-review-item">
                <div class="utf-testimonial-box">
                    <div class="utf-testimonial-avatar-photo"> <img src="~/client/images/user_small_3.jpg" alt=""> </div>
                    <div class="utf-testimonial-author-utf-detail-item">
                        <h4>Jane Smith</h4>
                        <span>City Bank</span>
                    </div>
                    <div class="testimonial">The manned guarding service provided by Star Securities has been instrumental in securing our bank branches. Their attention to detail and professionalism is unmatched.</div>
                </div>
            </div>
            <div class="utf-carousel-review-item">
                <div class="utf-testimonial-box">
                    <div class="utf-testimonial-avatar-photo"> <img src="~/client/images/user_small_1.jpg" alt=""> </div>
                    <div class="utf-testimonial-author-utf-detail-item">
                        <h4>Michael Brown</h4>
                        <span>Tech Solutions</span>
                    </div>
                    <div class="testimonial">We have been using Star's electronic security systems for our offices, and the service has been outstanding. Their technicians are well-trained, and the systems work flawlessly.</div>
                </div>
            </div>
        </div>
    </div>
</div>
