@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutPages.cshtml";
}
<div class="section margin-top-65 padding-bottom-55">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-md-12">
               

                <section id="about-us">
                    <h1>About Star Securities</h1>
                    <blockquote class="margin-top-20 margin-bottom-20">Star Securities has been a pioneer in the private security industry, offering innovative and high-quality solutions to clients across various sectors since its establishment in 2000. With over two decades of experience, we have become a trusted provider of security services, including manned guarding, electronic security, cash services, and more.</blockquote>
                </section>
                <section id="about-us">
                    <h2>Our History</h2>
                    <blockquote class="margin-top-20 margin-bottom-20">Star Securities was founded in the year 2000 with a vision to provide exceptional security solutions to industrial, commercial, and business houses. Over the years, we have evolved from a small investigation firm into a comprehensive security service provider offering a wide range of services across India.</blockquote>
                </section>
                <section id="about-us">
                    <h2>Chairman's Profile</h2>
                    <blockquote class="margin-top-20 margin-bottom-20">Our chairman, [Chairman's Name], has been instrumental in the growth and success of Star Securities. With a strong background in security management and business development, [Chairman's Name] has led the company through various stages of growth, ensuring that Star Securities maintains its leadership position in the industry.</blockquote>
                </section>
                <section id="board-of-directors">
                    <h2>Board of Directors</h2>
                    <ul>
                        <li><strong>John Doe</strong> - Chief Executive Officer</li>
                        <li><strong>Jane Smith</strong> - Chief Financial Officer</li>
                        <li><strong>Michael Johnson</strong> - Director of Operations</li>
                        <li><strong>Emily Davis</strong> - Chief Technology Officer</li>
                    </ul>
                    <p>The Board of Directors at Star Securities consists of experienced professionals who bring a wealth of knowledge and expertise to guide the company towards achieving its goals and expanding its service offerings.</p>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- About List End -->
<!-- Icon Boxes -->
<div class="section gray padding-top-65 padding-bottom-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="utf-section-headline-item centered margin-top-0 margin-bottom-40">
                    <span>Business Support Service</span>
                    <h3>How It Works?</h3>
                    <div class="utf-headline-display-inner-item">Business Support Service</div>
                    <p class="utf-slogan-text">Lorem Ipsum is simply dummy text printing and type setting industry Lorem Ipsum been industry standard dummy text ever since when unknown printer took a galley.</p>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-12">
                <div class="icon-box with-line">
                    <div class="utf-icon-box-circle">
                        <div class="utf-icon-box-circle-inner"> <i class="icon-line-awesome-user-secret"></i></div>
                    </div>
                    <h3>User Register</h3>
                    <p>Lorem Ipsum is simply dummy text the printing and type setting industry Lorem Ipsum has been industry.</p>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-12">
                <div class="icon-box with-line">
                    <div class="utf-icon-box-circle">
                        <div class="utf-icon-box-circle-inner"> <i class="icon-line-awesome-user-plus"></i></div>
                    </div>
                    <h3>Create Account</h3>
                    <p>Lorem Ipsum is simply dummy text the printing and type setting industry Lorem Ipsum has been industry.</p>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-12">
                <div class="icon-box">
                    <div class="utf-icon-box-circle">
                        <div class="utf-icon-box-circle-inner"> <i class="icon-line-awesome-edit"></i></div>
                    </div>
                    <h3>Search Jobs</h3>
                    <p>Lorem Ipsum is simply dummy text the printing and type setting industry Lorem Ipsum has been industry.</p>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-12">
                <div class="icon-box">
                    <div class="utf-icon-box-circle">
                        <div class="utf-icon-box-circle-inner"> <i class="icon-line-awesome-save"></i></div>
                    </div>
                    <h3>Save & Apply</h3>
                    <p>Lorem Ipsum is simply dummy text the printing and type setting industry Lorem Ipsum has been industry.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Icon Boxes / End -->
<!-- Logo Carousel -->
<div class="section padding-top-60 padding-bottom-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="utf-section-headline-item centered margin-top-0 margin-bottom-40">
                    <span>Popular Companies</span>
                    <h3>Our Best Partners</h3>
                    <div class="utf-headline-display-inner-item">Popular Companies</div>
                    <p class="utf-slogan-text">Lorem Ipsum is simply dummy text printing and type setting industry Lorem Ipsum been industry standard dummy text ever since when unknown printer took a galley.</p>
                </div>
                <div class="col-md-12">
                    <div class="utf-logo-carousel-block">
                        <div class="utf-carousel-logo-item"> <a href="javascript:void(0);" target="_blank" title="javascript:void(0)"><img src="~/client/images/brand_logo_01.png" alt=""></a> </div>
                        <div class="utf-carousel-logo-item"> <a href="javascript:void(0);" target="_blank" title="javascript:void(0)"><img src="~/client/images/brand_logo_02.png" alt=""></a> </div>
                        <div class="utf-carousel-logo-item"> <a href="javascript:void(0);" target="_blank" title="javascript:void(0)"><img src="~/client/images/brand_logo_03.png" alt=""></a> </div>
                        <div class="utf-carousel-logo-item"> <a href="javascript:void(0);" target="_blank" title="javascript:void(0)"><img src="~/client/images/brand_logo_04.png" alt=""></a> </div>
                        <div class="utf-carousel-logo-item"> <a href="javascript:void(0);" target="_blank" title="javascript:void(0)"><img src="~/client/images/brand_logo_05.png" alt=""></a> </div>
                        <div class="utf-carousel-logo-item"> <a href="javascript:void(0);" target="_blank" title="javascript:void(0)"><img src="~/client/images/brand_logo_06.png" alt=""></a> </div>
                        <div class="utf-carousel-logo-item"> <a href="javascript:void(0);" target="_blank" title="javascript:void(0)"><img src="~/client/images/brand_logo_07.png" alt=""></a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>